* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.90;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;

}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;


}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: flex;
    color: white;
    display: block;
    padding: 3px 33px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    display: block;
    background-color: black;
}

